body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303030;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.infos-wrapper {
  margin-top: 1rem;
}

.items {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  padding: 0.5rem;
  border-radius: 15px;
}

.item-title {
  font-weight: 700;
}
